.env
.DS_Store
.capistrano
public/assets/

/.bundle
/.vagrant
/.idea

/log
/tmp
/public/assets
/public/uploads

/config/newrelic.yml
/config/database.yml

*#
*.#*
*~

*.sass-cache

dump.rdb

!.ruby-version
!.ruby-gemset
